<!-- <ng-container *ngIf="currentLocationWeather$ | async as weatherJson"> -->
  <mat-card class="weather-box">
    <mat-card-header>
      <mat-card-title>{{cityName}}</mat-card-title>
      <div mat-card-avatar class="example-header-image">
        {{weatherJson?.Temperature?.Metric?.Value}}&deg;
      </div>
    </mat-card-header>
    <p>
      <b>{{weatherJson?.WeatherText}}</b>
    </p>
    <mat-card-content>
      <img mat-card-image src="getWeatherUrl(weatherJson?.WeatherIcon)">
    </mat-card-content>
    <mat-card-actions>
      <button mat-button ejs-button cssClass='e-link'><a href="{{weatherJson?.Link}}" target='_blank'>MORE INFO</a></button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button>REMOVE FORM FAVORERS</button>
    </mat-card-actions>
  </mat-card>
<!-- </ng-container> -->

