<ng-container *ngIf="currentLocationWeather$ | async as currentLocation">
    <mat-card class="weather-box animate__animated animate__bounceInUp">
      <mat-card-header>
        <mat-card-title>{{cityName}}</mat-card-title>
        <div mat-card-avatar class="example-header-image">
          {{currentLocation[0].Temperature.Metric.Value}}&deg;
        </div>
      </mat-card-header>
      <p>
        <b>{{currentLocation[0].WeatherText}}</b>
      </p>
      <mat-card-content>
        <img mat-card-image [src]="currentLocation[0].WeatherIcon | weatherUrl">
      </mat-card-content>
      <mat-card-actions>
        <button mat-button ejs-button cssClass='e-link'><a href="{{currentLocation[0].Link}}" target='_blank'>MORE INFO</a></button>
      </mat-card-actions>
      <mat-card-actions>
        <button (click)="handelRemoveFromFavorites()" mat-button>REMOVE FORM FAVORERS</button>
      </mat-card-actions>
    </mat-card>
</ng-container>

