.weather-box {

  max-width: 400px;
  flex: 1 0 33%;
  // border: 5px solid #222;
  // min-height: 33.33vh;
}

.example-header-image {
  // background-image: url('https://developer.accuweather.com/sites/default/files/05-s.png');
  background-size: cover;
}
