<div class="currentWeather">
  <div class="searchBox">
    <input
      [formControl]="cityFromUser"
      class="iputSearch"
      list='cities'
      type="text"
      placeholder="City">
    <!-- <datalist id='cities'>
      <option *ngFor="let city of data$ | async" value="{{city[0]}}">
    </datalist> -->
    <button mat-raised-button color="primary">Search</button>
  </div>
  <div class="weatherBox">
    <div class="currentCityTemp">tel aviv</div>
    <div class="addToFavorites">
      <button>add</button>
    </div>
    <div class="currentConditions">Scattered clouds</div>
    <div class="fiveDayForecast">
      <div class="forcastBox" *ngFor="let day of forecast" >
        <div class="day">{{day.day}}</div>
        <div class="temp">{{day.temp}}</div>
      </div>
    </div>
  </div>
</div>
