

.currentWeather{
  height: 88vh;
  display: grid;
  grid-template:
  ". . search . ." auto
  "weather weather weather weather weather" 1fr;
  align-items: center;


  .searchBox {
    height: auto;
    width: 80%;
    // border: 1px solid black;
    grid-area: search;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2%;
    place-content: center space-between;
  }

  .weatherBox{
    height: 100%;
    width: 100%;
    grid-area: weather;
    display: grid;
    grid-template:
    "city . . favorites"
    ". currentWeather currentWeather ."
    "forecast forecast forecast forecast";
  }

  .currentCityTemp {
    grid-area: city;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    // border: 1px solid black;

  }

  .addToFavorites{
    grid-area: favorites;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    // border: 1px solid black;
  }

  .currentConditions{
    grid-area: currentWeather;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 30px;
    font-weight: bold;
    // border: 1px solid black;
  }

  .fiveDayForecast{
    grid-area: forecast;
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

}

