<div class="currentWeather">
  <div class="searchBox">
    <mat-form-field class="iputSearch" appearance="fill">
      <mat-label>Search A City</mat-label>
      <input
        matInput
        [formControl]="cityFromUser"
        [matAutocomplete]="auto"
        >
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of suggestions$ | async" [value]="city" (click)="selectSuggestCity(city)" >
        {{city.LocalizedName}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="weatherBox" >
    <div class="currentCityTemp">
      <mat-card-title>{{cityName}}</mat-card-title>
    </div>
    <div class="addToFavorites">
      <button mat-fab color="primary" >
        <mat-icon (click)="toggleFavorites()">favorite_border</mat-icon>
      </button>
    </div>
    <p class="currentConditions">
      {{headline}}
    </p>
    <div class="fiveDayForecast" *ngIf="forecastWeather as fiveDay">
        <app-one-day-weather-box  *ngFor="let day of fiveDay"
          [temperatureMin]="day.Temperature.Minimum.Value"
          [temperatureMax]="day.Temperature.Maximum.Value"
          [day]="day.Date"
          [icon]="day.Day.Icon"
          [link]="day.Link"
        ></app-one-day-weather-box>
    </div>
  </div>
</div>
