<div class="currentWeather">
  <div class="searchBox">
    <input
      [formControl]="cityFromUser"
      class="iputSearch"
      list='cities'
      type="text"
      placeholder="City">
      <!-- [matAutocomplete]="auto"> -->
      <!-- <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let city of citiesAndKeys$ | async" [value]="city">
          {{city.city}}
        </mat-option>
      </mat-autocomplete> -->
    <button mat-raised-button (click)="handelSearch()" color="primary">Search</button>
  </div>
  <div class="weatherBox" *ngIf="weatherJson" >
    <!-- <div class="weatherBox" *ngIf="weatherJson" | async > -->

    <div class="currentCityTemp">tel aviv</div>
    <div class="addToFavorites">
      <button>add</button>
    </div>
    <div class="currentConditions">
      <ng-container *ngFor="let city of citiesAndKeys$ | async">
        <div class="currentCity">{{city.city}}</div>
        <button (click)="addToFavorites(city.Key)" >press</button>
      </ng-container>
    </div>
    <div class="fiveDayForecast" *ngIf="FiveDayForecastWeatherresponseMock as fiveDay">
      <div class="forcastBox" *ngFor="let day of fiveDay?.DailyForecasts" >
        <app-one-day-weather-box></app-one-day-weather-box>
      </div>
    </div>
  </div>
</div>
